<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yr.dao.mybatis.AuditMapper">
  <resultMap id="BaseResultMap" type="com.yr.entry.Audit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="leave_id" jdbcType="INTEGER" property="leaveId" />
    <result column="audit_account" jdbcType="VARCHAR" property="auditAccount" />
    <result column="is_audit" jdbcType="VARCHAR" property="isAudit" />
    <result column="audit_desc" jdbcType="VARCHAR" property="auditDesc" />
    <result column="rety_audit_account" jdbcType="VARCHAR" property="retyAuditAccount" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, leave_id, audit_account, is_audit, audit_desc, rety_audit_account, audit_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yr_audit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yr_audit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yr.entry.Audit">
    insert into yr_audit (id, leave_id, audit_account, 
      is_audit, audit_desc, rety_audit_account, 
      audit_time)
    values (#{id,jdbcType=INTEGER}, #{leaveId,jdbcType=INTEGER}, #{auditAccount,jdbcType=VARCHAR}, 
      #{isAudit,jdbcType=VARCHAR}, #{auditDesc,jdbcType=VARCHAR}, #{retyAuditAccount,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yr.entry.Audit">
    insert into yr_audit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="leaveId != null">
        leave_id,
      </if>
      <if test="auditAccount != null">
        audit_account,
      </if>
      <if test="isAudit != null">
        is_audit,
      </if>
      <if test="auditDesc != null">
        audit_desc,
      </if>
      <if test="retyAuditAccount != null">
        rety_audit_account,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="leaveId != null">
        #{leaveId,jdbcType=INTEGER},
      </if>
      <if test="auditAccount != null">
        #{auditAccount,jdbcType=VARCHAR},
      </if>
      <if test="isAudit != null">
        #{isAudit,jdbcType=VARCHAR},
      </if>
      <if test="auditDesc != null">
        #{auditDesc,jdbcType=VARCHAR},
      </if>
      <if test="retyAuditAccount != null">
        #{retyAuditAccount,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yr.entry.Audit">
    update yr_audit
    <set>
      <if test="leaveId != null">
        leave_id = #{leaveId,jdbcType=INTEGER},
      </if>
      <if test="auditAccount != null">
        audit_account = #{auditAccount,jdbcType=VARCHAR},
      </if>
      <if test="isAudit != null">
        is_audit = #{isAudit,jdbcType=VARCHAR},
      </if>
      <if test="auditDesc != null">
        audit_desc = #{auditDesc,jdbcType=VARCHAR},
      </if>
      <if test="retyAuditAccount != null">
        rety_audit_account = #{retyAuditAccount,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yr.entry.Audit">
    update yr_audit
    set leave_id = #{leaveId,jdbcType=INTEGER},
      audit_account = #{auditAccount,jdbcType=VARCHAR},
      is_audit = #{isAudit,jdbcType=VARCHAR},
      audit_desc = #{auditDesc,jdbcType=VARCHAR},
      rety_audit_account = #{retyAuditAccount,jdbcType=VARCHAR},
      audit_time = #{auditTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>