<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yr.dao.mybatis.TeacherMapper">
  <resultMap id="BaseResultMap" type="com.yr.entry.Teacher">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="addr" jdbcType="VARCHAR" property="addr" />
    <result column="in_time" jdbcType="DATE" property="inTime" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="is_leave" jdbcType="VARCHAR" property="isLeave" />
    <result column="leave_time" jdbcType="DATE" property="leaveTime" />
    <result column="info" jdbcType="VARCHAR" property="info" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, code, sex, age, tel, addr, in_time, level, is_leave, leave_time, info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yr_teacher
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yr_teacher
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yr.entry.Teacher">
    insert into yr_teacher (id, name, code, 
      sex, age, tel, addr, 
      in_time, level, is_leave, 
      leave_time, info)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{sex,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{tel,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{inTime,jdbcType=DATE}, #{level,jdbcType=VARCHAR}, #{isLeave,jdbcType=VARCHAR}, 
      #{leaveTime,jdbcType=DATE}, #{info,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yr.entry.Teacher">
    insert into yr_teacher
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="tel != null">
        tel,
      </if>
      <if test="addr != null">
        addr,
      </if>
      <if test="inTime != null">
        in_time,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="isLeave != null">
        is_leave,
      </if>
      <if test="leaveTime != null">
        leave_time,
      </if>
      <if test="info != null">
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="inTime != null">
        #{inTime,jdbcType=DATE},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="isLeave != null">
        #{isLeave,jdbcType=VARCHAR},
      </if>
      <if test="leaveTime != null">
        #{leaveTime,jdbcType=DATE},
      </if>
      <if test="info != null">
        #{info,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yr.entry.Teacher">
    update yr_teacher
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="tel != null">
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="addr != null">
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="inTime != null">
        in_time = #{inTime,jdbcType=DATE},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=VARCHAR},
      </if>
      <if test="isLeave != null">
        is_leave = #{isLeave,jdbcType=VARCHAR},
      </if>
      <if test="leaveTime != null">
        leave_time = #{leaveTime,jdbcType=DATE},
      </if>
      <if test="info != null">
        info = #{info,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yr.entry.Teacher">
    update yr_teacher
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      tel = #{tel,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      in_time = #{inTime,jdbcType=DATE},
      level = #{level,jdbcType=VARCHAR},
      is_leave = #{isLeave,jdbcType=VARCHAR},
      leave_time = #{leaveTime,jdbcType=DATE},
      info = #{info,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="getList" resultMap="BaseResultMap">
  	select
    <include refid="Base_Column_List" />
    from yr_teacher
    <where>
    	is_leave is null or is_leave = '0'
    </where>
  </select>
  
</mapper>